<Project>
  <PropertyGroup>
    <RuntimeIdentifier>linux-x64</RuntimeIdentifier>
    <PublishAot>true</PublishAot>
    <SelfContained>true</SelfContained>
    <PublishSingleFile>false</PublishSingleFile>
    <TrimMode>full</TrimMode>
    <IlcOptimizationPreference>Speed</IlcOptimizationPreference>
    <StripSymbols>true</StripSymbols>
  </PropertyGroup>
</Project>
